<main>
  <div class="container">
    <article>
      <h3>Demo 1</h3>
      <p class="flow-text">This demo shows how to dynamically create Cubbles into an existing Angular 2 Application. The project is build with the
        angular-cli and uses the Cubbles Runtime Extension (<a href="https://github.com/cubbles/cubx.core.rte/tree/master/webpackages/cubx.core.rte"
                                                               target="_blank">source on github</a>)
      </p>
    </article>

    <div class="divider"></div>

    <article>
      <p>
        The simplest way to add a cubbles component is to add <code>CUSTOM_ELEMENTS_SCHEMA</code> to the <code>@NgModule</code>,
        allowing custom HTML Element.
      </p>
    </article>

    <div class="divider"></div>

    <article id="cubbleContainer">
      <button class="waves-effect waves-light btn" (click)="handleButtonClick()" [disabled]="buttonState()" >{{toggleButtonText}}</button>
    </article>

    <div class="divider"></div>

    <article>
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header"><i class="medium material-icons">code</i>index.html: Include the Cubbles RTE</div>
          <div class="collapsible-body">
        <pre><code>
&lt;head&gt;
  &lt;script&gt;
    // add dependencies
    window.cubx = {{ '{'}}
      "CRCInit": {{ '{'}}
        "rootDependencies": [
          {{ '{'}}
            "artifactId" : "federal-state-elections",
            "webpackageId": "com.incowia.demo.elections@0.1.0-SNAPSHOT"
          }
        ]
      }
    }
  &lt;/script&gt;
  ...
  &lt;!-- Include Cubbles --&gt;
  &lt;script src="https://cubbles.world/sandbox/cubx.core.rte@2.2.2/webcomponents-lite/webcomponents-lite.js"&gt;&lt;/script&gt;
  &lt;script src="https://cubbles.world/sandbox/cubx.core.rte@2.2.2/crc-loader/js/main.js" data-crcinit-loadcif="true" data-cubx-startevent="CubxComponentLinked">&lt;/script&gt;
  ...
&lt;/head&gt;

&lt;html&gt;

  ...
&lt;/html&gt;</code></pre>
          </div>
        </li>

        <li>
          <div class="collapsible-header"><i class="medium material-icons">code</i>demo1.component.html: Instantiate a Cubbles Component using a Custom Tag</div>
          <div class="collapsible-body">
        <pre><code>

      ...

      &lt;button class="waves-effect waves-light btn" (click)="handleButtonClick()" [disabled]="buttonState()" &gt;{{ '{' }}{{ '{' }}toggleButtonText}}&lt;/button&gt;

      ...

        </code></pre>
          </div>
        </li>

        <li>
          <div class="collapsible-header"><i class="medium material-icons">code</i>Angular Component Definition (TypeScript)</div>
          <div class="collapsible-body">
        <pre><code class="javascript">
import {{ '{' }}Component, OnInit} from '@angular/core';

@Component({{ '{' }}
  selector: 'app-demo1',
  templateUrl: './demo1.component.html',
  styleUrls: ['./demo1.component.css']
})


export class Demo1Component {{ '{' }}
  ready: boolean;

  buttonTexts: string[] = ['add cubble "federal-state-elections"', 'remove cubble "federal-state-elections"'];

  toggleButtonText: string = this.buttonTexts[0];

  toggleIndex: number;

  constructor() {{ '{' }}
    this.ready = false;
    this.toggleIndex = 0;

  }

  ngOnInit(): void {{ '{' }}
    const event = document.createEvent('CustomEvent');
    event.initCustomEvent('CubxComponentLinked', true, true, {{ '{' }}});

    // dispatch this 'CubxComponentLinked' event
    document.dispatchEvent(event);
    this.ready = true;
  }

  handleButtonClick(): void {{ '{' }}
    switch (this.toggleIndex) {{ '{' }}
      case 0:
        this.addCubble();
        break;
      case 1:
        this.removeCubble();
        break;
      default:
        break;
    }
    this.changeToggleIndex();
    this.toggleButtonText = this.buttonTexts[this.toggleIndex];
  }

  changeToggleIndex(): void {{ '{' }}
    console.log('changeToggleIndex', this.toggleIndex);
    switch (this.toggleIndex) {{ '{' }}
      case 0:
        this.toggleIndex = 1;
        break;
      case 1:
        this.toggleIndex = 0;
        break;
      default:
        this.toggleIndex = 0;
        break;
    }
  };

  addCubble(): void {{ '{' }}
    const container = document.querySelector('#cubbleContainer');
    const el = document.createElement('federal-state-elections');
    container.appendChild(el);
  }

  removeCubble(): void {{ '{' }}
    const cubble = document.querySelector('federal-state-elections');
    cubble.parentNode.removeChild(cubble);
  }

  buttonState(): boolean {{ '{' }}
    console.log('buttonState', !this.ready);
    return !this.ready;
  }
</code></pre>
          </div>
        </li>

        <li>
          <div class="collapsible-header"><i class="medium material-icons">code</i>Angular Module (TypeScript)</div>
          <div class="collapsible-body">
        <pre><code class="javascript">import {{ '{' }} NgModule, CUSTOM_ELEMENTS_SCHEMA } from '@angular/core';

...


@NgModule({{ '{' }}

  ...

  schemas: [CUSTOM_ELEMENTS_SCHEMA],

  ...
})
export class AppModule {{ '{' }} }
</code></pre>
          </div>
        </li>
      </ul>
    </article>
  </div>
</main>
