<main>
    <div class="container">
        <h4>Demo 1: Enable Angular to use custom elements.</h4>
        <article>
            <p>
                To use any Cubbles component it is required to add <code>CUSTOM_ELEMENTS_SCHEMA</code> to the <code>@NgModule</code>,
                allowing custom HTML Elements to be used.

                Additionally define a <code>window.cubx.CRCInit</code> object to
                declare related dependencies on component level.
            </p>
        </article>


        <article>
            <bar-chart>
                <cubx-core-init style="display: none">
                    <cubx-core-slot-init slot="dataColumns">
                        [["dataSet1", 10, 20, 50, 100, 40, 20, 70],
                        ["dataSet2", 100, 40, 10, 75, 50, 50, 90],
                        ["dataSet3", 15, 30, 50, 40, 15, 120, 80]]
                    </cubx-core-slot-init>
                    <cubx-core-slot-init slot="xLabels">
                        ["2011","2012","2013","2014","2015","2016","2017"]
                    </cubx-core-slot-init>
                </cubx-core-init>
            </bar-chart>

        </article>

        <article>
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header"><i class="medium material-icons">code</i>HTML: index.html</div>
                    <div class="collapsible-body">
            <pre><code>
&lt;head&gt;

  &lt;script&gt;
    // Include dependencies
    window.cubx = {{ '{' }}
      "CRCInit": {{ '{' }}
        "rootDependencies": [
          {{ '{' }}
            "artifactId": "world-places",
            "webpackageId": "com.incowia.demo.cubx-polymer-elements-demos@0.2.0"
          },
          {{ '{' }}
            "artifactId": "pie-chart",
            "webpackageId": "com.incowia.lib.chart-library@0.3.0-SNAPSHOT"
          },
          {{ '{' }}
            "artifactId": "cubx-date-input",
            "webpackageId": "com.incowia.basic-html-components@1.0"
          }
        ]
      }
    }
  &lt;/script&gt;
    ...
  &lt;!-- Include the Cubbles RTE / define a startevent --&gt;
  &lt;script src="https://cubbles.world/sandbox/cubx.core.rte@2.2.2/webcomponents-lite/webcomponents-lite.js"&gt;&lt;/script&gt;
  &lt;script src="https://cubbles.world/sandbox/cubx.core.rte@2.2.2/crc-loader/js/main.js" data-crcinit-loadcif="true" data-cubx-startevent="CubxComponentLinked">&lt;/script&gt;
    ...
&lt;/head&gt;

&lt;html&gt;

  ...
&lt;/html&gt;</code></pre>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header"><i class="medium material-icons">code</i>TypeScript App Component
                    </div>
                    <div class="collapsible-body">
              <pre><code class="javascript">
// app.component.ts
import {{ '{' }} Component, AfterViewInit } from '@angular/core';

@Component({{ '{' }}
  selector: 'app-root',
  templateUrl: './app.component.html'
})
export class AppComponent implements  AfterViewInit {{ '{' }}
  ngAfterViewInit() {{ '{' }}
    const event = document.createEvent('CustomEvent');
    event.initCustomEvent('CubxComponentLinked', true, true, {{ '{' }}});

    // dispatch this 'CubxComponentLinked' event
    document.dispatchEvent(event);
  };
}
              </code></pre>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header"><i class="medium material-icons">code</i>HTML: Component</div>
                    <div class="collapsible-body">
            <pre><code>
// demo1.component.html

...
    &lt;-- Cubbles component bar-chart --&gt;
    &lt;bar-chart&gt;
          &lt;-- initialize the component slots "dataColumns" and "xLabels" --&gt;
          &lt;cubx-core-init style="display: none"&gt;
              &lt;cubx-core-slot-init slot="dataColumns"&gt;
                  [["dataSet1", 10, 20, 50, 100, 40, 20, 70],
                  ["dataSet2", 100, 40, 10, 75, 50, 50, 90],
                  ["dataSet3", 15, 30, 50, 40, 15, 120, 80]]
              &lt;/cubx-core-slot-init&gt;
              &lt;cubx-core-slot-init slot="xLabels"&gt;
                  ["2011","2012","2013","2014","2015","2016","2017"&gt;
              &lt;/cubx-core-slot-init&gt;
          &lt;/cubx-core-init&gt;
      &lt;/bar-chart&gt;

...

            </code></pre>

                    </div>
                </li>

                <li>
                    <div class="collapsible-header"><i class="medium material-icons">code</i>TypeScript Component</div>
                    <div class="collapsible-body">
            <pre><code class="javascript">
// demo1.component.ts

import {{ '{' }} Component } from '@angular/core';

@Component({{ '{' }}
  selector: 'app-demo1',
  templateUrl: './demo1.component.html'
})
export class Demo1Component {{ '{' }}

  constructor() {{ '{' }} }

}</code></pre>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header"><i class="medium material-icons">code</i>Angular Module</div>
                    <div class="collapsible-body">
            <pre><code class="javascript">import {{ '{' }} NgModule, CUSTOM_ELEMENTS_SCHEMA } from '@angular/core';

...


@NgModule({{ '{' }}

  ...

  schemas: [CUSTOM_ELEMENTS_SCHEMA],

  ...
})
export class AppModule {{ '{' }} }
</code></pre>
                    </div>
                </li>
            </ul>
        </article>
    </div>
</main>