<main>
  <div class="container">
    <article>
      <h3>Demo 1</h3>
      <p class="flow-text">This demo shows how to easily integrate Cubbles into an existing Angular 2 Application. The project is build with the
        angular-cli and Cubbles Runtime Extension 2.3.0-SNAPSHOT (<a href="https://github.com/cubbles/cubx.core.rte/tree/master/webpackages/cubx.core.rte"
          target="_blank">source on github</a>)
      </p>
    </article>

    <div class="divider"></div>

    <article>
      <p>
        The simplest way to add a cubbles component is to add <code>CUSTOM_ELEMENTS_SCHEMA</code> to the <code>@NgModule</code>,
        allowing custom HTML Element.
      </p>
    </article>

    <div class="divider"></div>

    <article>
      <world-places></world-places>
    </article>

    <article>
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header"><i class="medium material-icons">code</i>HTML: index.html</div>
          <div class="collapsible-body">
            <pre><code>
&lt;head&gt;

  &lt;script&gt;
    // Include dependencies
    window.cubx = {{ '{' }}
      "CRCInit": {{ '{' }}
        "rootDependencies": [
          {{ '{' }}
            "artifactId": "world-places",
            "webpackageId": "com.incowia.demo.cubx-polymer-elements-demos@0.2.0"
          },
          {{ '{' }}
            "artifactId": "pie-chart",
            "webpackageId": "com.incowia.lib.chart-library@0.3.0-SNAPSHOT"
          },
          {{ '{' }}
            "artifactId": "cubx-date-input",
            "webpackageId": "com.incowia.basic-html-components@1.0"
          }
        ]
      }
    }
  &lt;/script&gt;
    ...
  &lt;!-- Include Cubbles / define startevent--&gt;
  &lt;script src="https://cubbles.world/sandbox/cubx.core.rte@2.3.0-SNAPSHOT/webcomponents-lite/webcomponents-lite.js"&gt;&lt;/script&gt;
  &lt;script src="https://cubbles.world/sandbox/cubx.core.rte@2.3.0-SNAPSHOT/crc-loader/js/main.js" data-crcinit-loadcif="true" data-cubx-startevent="CubxComponentLinked">&lt;/script&gt;
    ...
&lt;/head&gt;

&lt;html&gt;

  ...
&lt;/html&gt;</code></pre>
          </div>
        </li>

        <li>
          <div class="collapsible-header"><i class="medium material-icons">code</i>TypeScript App Component</div>
          <div class="collapsible-body">
              <pre><code class="javascript">
// app.component.ts
import {{ '{' }} Component, AfterViewInit } from '@angular/core';

@Component({{ '{' }}
  selector: 'app-root',
  templateUrl: './app.component.html'
})
export class AppComponent implements  AfterViewInit {{ '{' }}
  ngAfterViewInit() {{ '{' }}
    const event = document.createEvent('CustomEvent');
    event.initCustomEvent('CubxComponentLinked', true, true, {{ '{' }}});

    // dispatch this 'CubxComponentLinked' event
    document.dispatchEvent(event);
  };
}
              </code></pre>
          </div>
        </li>

        <li>
          <div class="collapsible-header"><i class="medium material-icons">code</i>HTML: Component</div>
          <div class="collapsible-body">
            <pre><code>
// demo1.component.html

...

    &lt;world-places&gt;&lt;/world-places&gt;

...

            </code></pre>

          </div>
        </li>

        <li>
          <div class="collapsible-header"><i class="medium material-icons">code</i>TypeScript Component</div>
          <div class="collapsible-body">
            <pre><code class="javascript">
// demo1.component.ts

import {{ '{' }} Component } from '@angular/core';

@Component({{ '{' }}
  selector: 'app-demo1',
  templateUrl: './demo1.component.html'
})
export class Demo1Component {{ '{' }}

  constructor() {{ '{' }} }

}</code></pre>
          </div>
        </li>

        <li>
          <div class="collapsible-header"><i class="medium material-icons">code</i>Angular Module</div>
          <div class="collapsible-body">
            <pre><code class="javascript">import {{ '{' }} NgModule, CUSTOM_ELEMENTS_SCHEMA } from '@angular/core';

...


@NgModule({{ '{' }}

  ...

  schemas: [CUSTOM_ELEMENTS_SCHEMA],

  ...
})
export class AppModule {{ '{' }} }
</code></pre>
          </div>
        </li>
      </ul>
    </article>
  </div>
</main>