<main>
  <div class="container">
    <article>
      <h3>Demo 1</h3>
      <p>This demo shows how to easily integrate Cubbles into an existing Angular 2 Application. The project is build with the
        angular-cli and uses the Cubbles Runtime Extension (<a href="https://github.com/cubbles/cubx.core.rte/tree/master/webpackages/cubx.core.rte"
          target="_blank">source on github</a>)
      </p>
    </article>

    <div class="divider"></div>

    <article>
      <p>
        To use any Cubbles component it is required to add <code>CUSTOM_ELEMENTS_SCHEMA</code> to the <code>@NgModule</code>,
        allowing custom HTML Elements to be used.
      </p>
    </article>

    <div class="divider"></div>

    <article>
      <federal-state-elections cubx-webpackage-id="com.incowia.demo.elections@0.1.0-SNAPSHOT"></federal-state-elections>
    </article>

    <article>      
      <div class="row">
          <div class="col s4 center-align"><h4>2004</h4></div>
          <div class="col s4 center-align"><h4>2009</h4></div>
          <div class="col s4 center-align"><h4>2014</h4></div>
      </div>

      <div class="row">
        <div class="col s4">
          <pie-chart cubx-webpackage-id="com.incowia.lib.chart-library@0.3.0-SNAPSHOT">
            <cubx-core-init style="display:none">
              <cubx-core-slot-init slot="dataColumns">
                [["CDU", 43.0], ["Die Linke", 26.1], ["SPD", 14.5], ["FDP", 3.6], ["Grüne", 4.5], ["AfD", 0], ["Sonstige", 8.3]]
              </cubx-core-slot-init>
            </cubx-core-init>
          </pie-chart>
        </div>

        <div class="col s4">
          <pie-chart cubx-webpackage-id="com.incowia.lib.chart-library@0.3.0-SNAPSHOT">
            <cubx-core-init style="display:none">
              <cubx-core-slot-init slot="dataColumns">
                [["CDU", 31.2], ["Die Linke", 27.4], ["SPD", 18.5], ["FDP", 7.6], ["Grüne", 6.2], ["AfD", 0], ["Sonstige", 9.1]]
              </cubx-core-slot-init>
            </cubx-core-init>
          </pie-chart>
        </div>

        <div class="col s4">
          <pie-chart cubx-webpackage-id="com.incowia.lib.chart-library@0.3.0-SNAPSHOT">
            <cubx-core-init style="display:none">
              <cubx-core-slot-init slot="dataColumns">
                [["CDU", 33.5], ["Die Linke", 28.2], ["SPD", 12.4], ["FDP", 2.5], ["Grüne", 5.7], ["AfD", 10.6], ["Sonstige", 7.7]]
              </cubx-core-slot-init>
            </cubx-core-init>
          </pie-chart>
        </div>
      </div>
    </article>

<article>
  <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header"><i class="medium material-icons">code</i>index.html: Include the Cubbles RTE</div>
      <div class="collapsible-body">
        <pre><code>
&lt;head&gt;
    ...
  <!-- Include Cubbles -->
  &lt;script src="https://cubbles.world/sandbox/cubx.core.rte@2.2.2/webcomponents-lite/webcomponents-lite.js"&gt;&lt;/script&gt;
  &lt;script src="https://cubbles.world/sandbox/cubx.core.rte@2.2.2/crc-loader/js/main.js" data-crcinit-loadcif="true">&lt;/script&gt;
    ...
&lt;/head&gt;

&lt;html&gt;
  
  ...
&lt;/html&gt;</code></pre>
      </div>
    </li>

    <li>
      <div class="collapsible-header"><i class="medium material-icons">code</i>demo1.component.html: Instantiate a Cubbles Component using a Custom Tag</div>
      <div class="collapsible-body">
        <pre><code>
      &lt;federal-state-elections cubx-webpackage-id=&quot;com.incowia.demo.elections@0.1.0-SNAPSHOT&quot;&gt;&lt;/federal-state-elections&gt;</code></pre>
      </div>
    </li>

    <li>
      <div class="collapsible-header"><i class="medium material-icons">code</i>Angular Component Definition (TypeScript)</div>
      <div class="collapsible-body">
        <pre><code class="javascript">
              import {{ '{' }} Component, OnInit } from '@angular/core';

@Component({{ '{' }}
  selector: 'app-demo1',
  templateUrl: './demo1.component.html'
})
export class Demo1Component {{ '{' }}
  constructor() {{ '{' }} }
}</code></pre>
      </div>
    </li>

    <li>
      <div class="collapsible-header"><i class="medium material-icons">code</i>Angular Module (TypeScript)</div>
      <div class="collapsible-body">
        <pre><code class="javascript">import {{ '{' }} NgModule, CUSTOM_ELEMENTS_SCHEMA } from '@angular/core';

...


@NgModule({{ '{' }}

  ...
  
  schemas: [CUSTOM_ELEMENTS_SCHEMA],
  
  ...
})
export class AppModule {{ '{' }} }
</code></pre>
      </div>
    </li>
  </ul>
</article>
</div>
</main>