<main>
    <div class="container">
        <h4>Demo 3</h4>
        <article>
            <p>
                Sometimes it makes sense to initialize a Cubbles component within an isolated context (with respect to
                javascript and css scope).<br/>
                This demo shows a cubble rendered inside of an iframe. See the <a
                    href="https://cubbles.atlassian.net/wiki/x/II8mAQ" target="_blank">Cubbles IFrame API</a> for more
                details.
            </p>
        </article>

        <article>
            <iframe
                    id="germanStateDemo"
                    width="100%"
                    height="740px"
                    frameBorder="0"
                    src='https://cubbles.world/sandbox/cubx.core.rte@2.2.2/iframe/index.html?iframe-id=germanStateDemo&webpackage-id=com.incowia.demo.cubx-polymer-elements-demos@0.3.3&artifact-id=german-states&inits={"googleMapsApiKey":"AIzaSyCqhid9d8R7XjuQBgiYP3a_omY92-gPmJc"}'></iframe>
        </article>

        <article>
            <ul class="collapsible" data-collapsible="expandable">

                <li>
                    <div class="collapsible-header"><i class="medium material-icons">code</i>HTML: Component</div>
                    <div class="collapsible-body">
            <pre><code>
// demo3.component.html

...

     &lt;iframe
             id="germanStateDemo"
             width="100%"
             height="688px"
             frameBorder="0"
             src='https://cubbles.world/sandbox/cubx.core.rte@2.2.2/iframe/index.html?iframe-id=germanStateDemo&webpackage-id=com.incowia.demo.cubx-polymer-elements-demos@0.3.3&artifact-id=german-states&inits={{ '{' }}"googleMapsApiKey":"AIzaSyCqhid9d8R7XjuQBgiYP3a_omY92-gPmJc"}'&gt;&lt;/iframe&gt;

...

            </code></pre>

                    </div>
                </li>
            </ul>
        </article>
    </div>
</main>