<header class="">
  <nav class="blue darken-2">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Cubbles meets Angular 2</a>
      </div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/demo1">Demo 1</a></li>
        <li><a href="/demo2">Demo 2</a></li>
        <li><a href="/demo3">Demo 3</a></li>
        <li><a href="https://github.com/iCubbles/demo.cubbles-angular2-integration" target="_blank">Github</a></li>
      </ul>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<footer class="page-footer  blue darken-2">
  <div class="container center">
    <p class="grey-text text-lighten-4">Get in touch with Cubbles: Visit us on <a class="grey-text text-lighten-2" href="https://cubbles.github.io" target="_blank">github</a>.</p>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy; 2016 incowia GmbH
      <a class="grey-text text-lighten-2 right" href="https://cubbles.github.io" target="_blank">Cubbles Platform</a>
    </div>
  </div>
</footer>